@model Students.Domain.Entities.User

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteUser</h2>

@using (Ajax.BeginForm("DeleteUser", "Home",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                            }))
{
        @Html.LabelFor(user => user.UserId)
        @Html.EditorFor(user => user.UserId)
        @Html.ValidationMessageFor(user => user.UserId)
        <br />
        <br />
        <br />
        <input type="submit" value="Add User" />
}

