
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User</h2>

<div class="tableTitle">
    <div class="row">
        <div class="col-md-4 actionName">
            <h4>Action name</h4>
        </div>
        <div class="col-md-4 parameters">
            <h4>Parameters(Name : Type)</h4>
        </div>
        <div class="col-md-4 result">
            <h4>Result(Name : Condition : Type : Data)</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 actionName">
        <h4>AddUser</h4>
    </div>
    <div class="col-md-4 parameters">
        <div class="raw">
            <h4>{user : {UserName : "value1", Email : "value2", Password : "value3", Photo : "value4", Country : "value5", City : "value6", Address : "value7", University : "value8", Faculty : "value9", Course : "value10", GroupNumber : "value11", Phone : "value12", About : "value13"}}</h4>
        </div>
    </div>
    <div class="col-md-4 result">
        <h4>Was added : 200(OK)</h4>
        <h4>Wasn't added : 304(NotModified)</h4>
        <h4>Null request : 400(BadRequest)</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4 actionName">
        <h4>DeleteUser</h4>
    </div>
    <div class="col-md-4 parameters">
        <div class="raw">
            <h4>{userId : "value"}</h4>
        </div>
    </div>
    <div class="col-md-4 result">
        <h4>Was deleted : 200(OK)</h4>
        <h4>Wasn't deleted : 304(NotModified)</h4>
        <h4>Null request : 400(BadRequest)</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4 actionName">
        <h4>EditUser</h4>
    </div>
    <div class="col-md-4 parameters">
        <div class="raw">
            <h4>{user : {UserName : "value1", Email : "value2", Password : "value3", Photo : "value4", Country : "value5", City : "value6", Address : "value7", University : "value8", Faculty : "value9", Course : "value10", GroupNumber : "value11", Phone : "value12", About : "value13"}}</h4>
        </div>
    </div>
    <div class="col-md-4 result">
        <h4>Was edited : 200(OK)</h4>
        <h4>Wasn't edited : 304(NotModified)</h4>
        <h4>Null request : 400(BadRequest)</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4 actionName">
        <h4>GetUserById</h4>
    </div>
    <div class="col-md-4 parameters">
        <div class="raw">
            <h4>{userId : "value}"</h4>
        </div>
    </div>
    <div class="col-md-4 result">
        <h4>Success : 200(OK) : object array</h4>
        <h4>DB error : 204(NoContent)</h4>
        <h4>Null request : 400(BadRequest)</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4 actionName">
        <h4>GetUserByUserName</h4>
    </div>
    <div class="col-md-4 parameters">
        <div class="raw">
            <h4>{username : "value"}</h4>
        </div>
    </div>
    <div class="col-md-4 result">
        <h4>Success : 200(OK) : object array</h4>
        <h4>DB error : 204(NoContent)</h4>
        <h4>Null request : 400(BadRequest)</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4 actionName">
        <h4>GetUserByEmail</h4>
    </div>
    <div class="col-md-4 parameters">
        <div class="raw">
            <h4>{email : "value"}</h4>
        </div>
    </div>
    <div class="col-md-4 result">
        <h4>Success : 200(OK) : object array</h4>
        <h4>DB error : 204(NoContent)</h4>
        <h4>Null request : 400(BadRequest)</h4>
    </div>
</div>