
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="tableTitle">
    <div class="row">
        <div class="col-md-6 languageId">
            <h4>languageId</h4>
        </div>
        <div class="col-md-6 language">
            <h4>Language</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 languageId">
        <h4>1</h4>
    </div>
    <div class="col-md-6 language">
        <div class="raw">
            <h4>English</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 languageId">
        <h4>2</h4>
    </div>
    <div class="col-md-6 language">
        <div class="raw">
            <h4>Russian</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 languageId">
        <h4>3</h4>
    </div>
    <div class="col-md-6 language">
        <div class="raw">
            <h4>Ukrainian</h4>
        </div>
    </div>
</div>
